*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    background:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(home_bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
nav img{
    width: 100px;
    
}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;

}
nav{
    height: 20%;
    padding: 8px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
nav a:hover{
      padding-bottom: 5px;
      transition: all .3s ease-in-out;
    border-bottom: 3px solid goldenrod;
    transform: scale(1.3);
    background-color: blue;
    padding: 5px;
    border-radius: 7px;
    
}
.header-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
    /* text-align: center; */
    line-height: 2;
}
.header-text h1{
    color:white;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 50px;

}
.header-text span{
    color: goldenrod;
}
.header-text p{
    color: lightgray;
}
.header-text a{
    background-color: transparent;
    padding: 10px 26px;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 20px;
}
.header-text a:hover{
    transition: all 1s ease-out;
    background-color: goldenrod;
    transform: scale(1.2);
    box-shadow:  0 0 30px blue;
    border: 0;
    color: black;
}

/* end header */

/* start about secssion */
#About{
    height: 95vh;
    width: 85%;
    margin: auto;
}
.top-text-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px ;
    margin-bottom: 20px;
}
.top-text-about h2{
    font-weight: 800;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
    
}
.top-text-about p{
    color: rgb(172, 167, 167);
    font-weight: 400;
}
.low-about{
    display: flex;
    gap:90px;
}
.low-left-about{
    line-height: 1.3;
}
.low-left-about p{
    color: lightslategray;
    margin-bottom: 30px;
}
.low-left-about a{
    color: white;
    background-color: rgb(53, 49, 49);
    padding: 15px 30px;
    border-radius: 13px;
    font-weight: 100;
    font-size: 20px;

}

.low-right-about img{
  width: 500px;
  height: 85%;
}
/* end about */
/* start offer  */
.offer-sec{
    background: url(offer-background.jpg);
     background-position: center;
    background-size: cover;
    padding: 50px 0;
    text-align: center;
}
.offer-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-bottom: 20px;
    

}
.offer-top h3{
    color: goldenrod;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;


}
.offer-top p {
    color: white;

}
.offer-items{
     display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5%;
}
.offer img{
    
    height: 200px;
    margin-bottom: 10px;
}
.offer{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 15px;
    line-height: 1.3 ;
    color: white;
}
.offer:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.05);
}
.offer .off-txt , .offer p{
    color: rgb(168, 183, 199);
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.offer-price span{
  color: goldenrod;
   font-size: 22px;
}
/* end offer   */
/* start menu */
.menu-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7%;
}
.menu{
    background-color: beige;
    padding: 30px 0;
}
.menu-head h2{
    font-size: 50px;
    margin-bottom: 15px;

}
.menu-head p{
    color: lightslategray;
}
.mini-menu{
    width: 85%;
    margin: auto;
    display: flex;
    gap: 20%;
    margin-bottom: 50px;
}
.menu-left , .right-menu{
   display: flex;
    flex-direction: column;
    gap: 30px;
}
.food img{
    width: 100px;
    border-radius: 50%;
}
.food:hover{
    transition: all  .3s  ease-in-out;
    transform: scale(1.05);

    /* background-color: rgb(231, 194, 100); */
    padding: 10px;
    box-shadow: 0 0 15px goldenrod;
}
.food{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sup-txt-MENU{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px lightslategray dashed;
}
.menu-text p {
    margin-top: 10px;
}
.menu-text h4{
    text-transform: uppercase;
}
.menu-text span{
    color: goldenrod;
}
.auto{

    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.auto a{
    background-color: goldenrod;
    padding: 20px;
    border-radius: 20px;

}
.auto :hover{
    transition: all .3s ease-in-out;
    /* transform: scale(1.5);  */
    box-shadow: 0 0 20px blue;
}

/* end memu */
/* starr\t datelunch */
.datelunch{
    background: url(daytime_bg.jpeg);
}
.dates{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    color: white;
   
}

/* end date lunch */
.gallery-container{
    background: url(offer-background.jpg);
    height: 120vh;
}
.txt-gallery h2{
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 50px 0;
}
.gallary-body img{
    width: 95%;
    max-width: 350px;
    height: 250px;
    /* display: block; */
    border-radius: 20px;
    transition: 0.3s;
    opacity: 0.6;

}
.gallary-body{
    text-align: center;
    display: grid;
    /* grid-template-columns:repeat(3,1fr) ; */
    /* justify-items: center; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1100px;
    gap: 25px;
    margin: 0 auto;
}
.gallary-body img:hover{
    transform: scale(1.05);
    filter: drop-shadow(5px 5px 10px white);
    opacity: 0.9;
}
.contact-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 7%;
    
}
.left-contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  
}
.address h3{
    font-size: 35px;
    margin-bottom: 20px;
}
.address .p{
    color: lightslategray;
}
.address i{
    color: goldenrod;
}
.contact-icons{
    line-height: 1.5;
}
.hours{
    line-height: 1.5;
}
.hours h3{
    font-size: 35px;

}
.hours p {
    color: lightslategray;

}
.follow-icons  i {
    color: black;
    border-radius: 50%;
    /* display: inline-block; */
    /* gap: 100px; */
    
    width: 50px;
    height: 50px;
    text-align: center;
    margin: auto;
}
.right-contact , input , textarea , .btn1{
    display: flex;
    flex-direction: column;
  width: 400px;
    display: flex;
    padding: 15px 20px;
    border: 0;
    margin: 10px;
}
.right-contact input , textarea{
    
    background-color: rgb(208, 209, 209);
}
textarea{
    width: 400px;
    padding: 30px;
    

}
.btn1{
    width: 160px;
    color:white;
    background-color: goldenrod;
    border-radius: 20px;
    padding: 10px;
    margin-top: -10px;
}
.btn1:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 0 15px blue;
}
footer{
    width: 100%;
    text-align: center;
    margin: auto;
    background-color:rgba(17, 9, 9, 0.863);
    color: white;
    height: 10vh;

}
